/* Standard setup for most projects  */
* {
    box-sizing: border-box;
    /* removes any extra width - allows for accurate padding */
}

header {
    align-items: center;
    display: flex;
    flex-direction: column;
}

body {
    background-color: rgb(57, 161, 241);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    /* aligns content */
    flex-direction: column;
    /* stacks content  */
    align-items: center;
    /* centers content */
    justify-content: center;
}

#h2-todo {
    margin-top: 150px;
}

.project-break-line {
    border-top: 1px solid black;
    width: 80%;
    margin: 30px 0 20px 0;
}

/* To Do List Styling  */
form {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    width: 400px;
    background-color: #bdbcbc;
    border-radius: 10px;
}

.input {
    border: none;
    color: #444;
    font-size: 2rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
}

.input::placeholder {
    color: #cfcfcf;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: black;
    font-weight: bold;
    align-items: center;
}

.list li {
    border-top: 1px solid white;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    position: relative;
}

.list li .fa-trash-can {
    color: red;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    /* top 50% brings the top of the icon to halfway  translateY brings it to excatly halfway up (not sure why this was needed?)  it seemed to work without it */
    cursor: pointer;
}

.list li .fa-square-check {
    color: green;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    /* top 50% brings the top of the icon to halfway  translateY brings it to excatly halfway up (not sure why this was needed?)  it seemed to work without it */
    cursor: pointer;
}

.list li.checked {
    color: rgb(156, 156, 156);
    text-decoration: line-through;
}

.list li .fa-square {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    /* top 50% brings the top of the icon to halfway  translateY brings it to excatly halfway up (not sure why this was needed?)  it seemed to work without it */
    cursor: pointer;
}






/* got to: 11:02 - https://www.udemy.com/course/html-css-javascript-projects-for-beginners/learn/lecture/34705906#overview